# On-board peripherals
NET "clk" LOC = P126 | IOSTANDARD = LVTTL;
NET "clk" TNM_NET = "clk";
TIMESPEC TS_CLK = PERIOD "clk" 100 MHz HIGH 50%;

NET "led[0]" LOC = P119 | IOSTANDARD = LVTTL;
NET "led[1]" LOC = P118 | IOSTANDARD = LVTTL;
NET "led[2]" LOC = P117 | IOSTANDARD = LVTTL;
NET "led[3]" LOC = P116 | IOSTANDARD = LVTTL;
NET "led[4]" LOC = P115 | IOSTANDARD = LVTTL;
NET "led[5]" LOC = P114 | IOSTANDARD = LVTTL;
NET "led[6]" LOC = P112 | IOSTANDARD = LVTTL;
NET "led[7]" LOC = P111 | IOSTANDARD = LVTTL;

#NET "sw[0]" LOC = P124 | IOSTANDARD = LVTTL | PULLUP;
#NET "sw[1]" LOC = P123 | IOSTANDARD = LVTTL | PULLUP;
#NET "sw[2]" LOC = P121 | IOSTANDARD = LVTTL | PULLUP;
#NET "sw[3]" LOC = P120 | IOSTANDARD = LVTTL | PULLUP;

# FTDI
#NET "ft_adbus[0]" LOC = P32 | IOSTANDARD = LVTTL;
#NET "ft_adbus[1]" LOC = P29 | IOSTANDARD = LVTTL;
#NET "ft_adbus[2]" LOC = P26 | IOSTANDARD = LVTTL;
#NET "ft_adbus[3]" LOC = P23 | IOSTANDARD = LVTTL;
#NET "ft_adbus[4]" LOC = P21 | IOSTANDARD = LVTTL;
#NET "ft_adbus[5]" LOC = P16 | IOSTANDARD = LVTTL;
#NET "ft_adbus[6]" LOC = P14 | IOSTANDARD = LVTTL;
#NET "ft_adbus[7]" LOC = P11 | IOSTANDARD = LVTTL;

#NET "ft_acbus[0]" LOC = P9 | IOSTANDARD = LVTTL;
#NET "ft_acbus[1]" LOC = P7 | IOSTANDARD = LVTTL;
#NET "ft_acbus[2]" LOC = P5 | IOSTANDARD = LVTTL;
#NET "ft_acbus[3]" LOC = P1 | IOSTANDARD = LVTTL;
#NET "ft_acbus[4]" LOC = P141 | IOSTANDARD = LVTTL;
#NET "ft_acbus[5]" LOC = P139 | IOSTANDARD = LVTTL;
#NET "ft_acbus[6]" LOC = P137 | IOSTANDARD = LVTTL;
#NET "ft_acbus[7]" LOC = P133 | IOSTANDARD = LVTTL;

# GameCube
NET "AISLR" LOC=P83 | IOSTANDARD = LVCMOS33;
NET "AISD" LOC=P82 | IOSTANDARD = LVCMOS33;
NET "AISCLK" LOC=P81 | IOSTANDARD = LVCMOS33;
NET "DIHSTRB" LOC=P80 | IOSTANDARD = LVCMOS33;
NET "DIERRB" LOC=P79 | IOSTANDARD = LVCMOS33;
NET "DIBRK" LOC=P78 | IOSTANDARD = LVCMOS33;
NET "DIDSTRB" LOC=P75 | IOSTANDARD = LVCMOS33;
NET "DIDIR" LOC=P74 | IOSTANDARD = LVCMOS33;

NET "DID[7]" LOC=P56 | IOSTANDARD = LVCMOS33;
NET "DID[6]" LOC=P55 | IOSTANDARD = LVCMOS33;
NET "DID[5]" LOC=P51 | IOSTANDARD = LVCMOS33;
NET "DID[4]" LOC=P50 | IOSTANDARD = LVCMOS33;
NET "DID[3]" LOC=P48 | IOSTANDARD = LVCMOS33;
NET "DID[2]" LOC=P47 | IOSTANDARD = LVCMOS33;
NET "DID[1]" LOC=P46 | IOSTANDARD = LVCMOS33;
NET "DID[0]" LOC=P45 | IOSTANDARD = LVCMOS33;

NET "DICOVER" LOC = P44 | IOSTANDARD = LVCMOS33;
NET "DIRSTB" LOC = P43 | IOSTANDARD = LVCMOS33;
